#java ignore
# Compiled class file
*.class

## Maven:
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
!mvnw
!mvnw.bat
!mvnw.cmd

# Log file
*.log
**/log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
**/target/*.jar
**/syncer-*/*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/data

# go ignore
**/vendor

#idea ignore
**/.idea
*.iml

# vscode
**/.vscode
# rust ignore
Cargo.lock
**/target
**/*.rs.bk
